<a href="https://colab.research.google.com/github/records-sa/Python/blob/main/Colab_5%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install yfinance pandas-datareader finance-datareader

In [40]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override()

import numpy as np
import pandas as pd

import FinanceDataReader as fdr

In [75]:
def get_return_mf(code):

  df = fdr.DataReader(code,'2018')

  df = df.reset_index()

  df = df[['Date', 'Open']]

  df['Day'] = pd.to_datetime(df['Date']).dt.day_name()

  cond = (df['Day'] == 'Friday') | (df['Day'] == 'Monday')

  df = df[cond]

  if df.iloc[0,2] == 'Friday':
    df = df.drop(index = df.index[0])

  if df.iloc[-1,2] == 'Monday':
    df = df.drop(index = df.index[-1])

  cond = (df['Day'] == 'Monday') & (df['Day'].shift(-1) == 'Monday')
  df = df.drop(index = df[cond].index)

  cond = (df['Day'] == 'Friday') & (df['Day'].shift(1) == 'Friday')
  df = df.drop(index = df[cond].index)

  df['Open_fri'] = df['Open'].shift(-1)

  df = df[df['Day'] == 'Monday']

  df = df[['Open', 'Open_fri']]

  df.columns = ['buy_at', 'sell_at']

  df['return'] = df['sell_at'] / df['buy_at']

  cond = (df['sell_at'] != 0) & (df['buy_at'] != 0)
  df = df[cond]

  return df[['return']].cumprod().iloc[-1,-1] -1

In [ ]:
import dart_fss as dart_fss
import pandas as pd

api_key = '904e27f084e54f638fd2be6ba23b57fe74d70203'
dart_fss.set_api_key(api_key=api_key)

all = dart_fss.api.filings.get_corp_code()

df = pd.DataFrame(all)

df_listed = df[df['stock_code'].notnull()]

In [81]:
df = pd.DataFrame()
for row in df_listed.sample(10)[['stock_code','corp_name']].itertuples():
  try: 
    doc = {
        'name': row[2],
        'return': get_return_mf(row[1])
    }
    df = df.append(doc, ignore_index = True)
  except:
    print(f'error - {row[2]}')

df.sort_values(by='return', ascending = False)

<ipython-input-81-9db990a61b6e>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(doc, ignore_index = True)
<ipython-input-81-9db990a61b6e>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(doc, ignore_index = True)
<ipython-input-81-9db990a61b6e>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(doc, ignore_index = True)
<ipython-input-81-9db990a61b6e>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(doc, ignore_index = True)

error - 에스트라

<ipython-input-81-9db990a61b6e>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(doc, ignore_index = True)
<ipython-input-81-9db990a61b6e>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(doc, ignore_index = True)
<ipython-input-81-9db990a61b6e>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(doc, ignore_index = True)
<ipython-input-81-9db990a61b6e>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(doc, ignore_index = True)
<ipython-input-81-9db990a61b6e>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(doc, ignore_index = True)

      name     return
2   코스모신소재  12.072195
3    성일하이텍   1.293417
1       DB   0.182770
6     삼보판지  -0.031433
8     대림제지  -0.084908
7  이삭엔지니어링  -0.183385
0    미래오토스  -0.390543
4    알톤스포츠  -0.554244
5    한송네오텍  -0.620037