<a href="https://colab.research.google.com/github/records-sa/Python/blob/main/Colab_5%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install yfinance pandas-datareader finance-datareader

In [ ]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override()

import numpy as np
import pandas as pd

import FinanceDataReader as fdr

In [47]:
df = fdr.DataReader('005380','2018')

k = 0.4

df['buy_at'] = (df['High'].shift(1) - df['Low'].shift(1))*k + df['Open']

df['is_buy'] = np.where(df['buy_at'] < df['High'],'buy','')

df['sell_at'] = df['Open'].shift(-1)

df = df[df['is_buy'] == 'buy']



df['return'] = df['sell_at']/df['buy_at']

df[['return']].cumprod()

              return
Date
2018-01-03  0.999336
2018-01-05  1.002712
2018-01-08  1.010070
2018-01-09  1.010733
2018-01-10  1.025858
...              ...
2023-03-17  4.043900
2023-03-21  4.048933
2023-03-22  4.082173
2023-03-23  4.077207
2023-03-28       NaN

[624 rows x 1 columns]